html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #aecdd2;
  text-align: center;
}

h1 {
  font-size: 80px;
  padding-top: 5rem;
}

h2 {
  font-size: 20px;
}

p {
  font-size: 15px;
}

a {
  text-decoration: none;
  color: black;
}

.about-images {
  border-width: 4px;
  border-style: solid;
  border-color: #f8f8f3;
}

.about-profile-container {
  max-width: 800px;
}

.bio {
  max-width: ;
}

.footer {
  border-top: none;
  opacity: 0.6;
  margin-top: auto;
}

.socials-icon {
  height: 2rem;
}

.name {
  font-size: 20px;
}

.about-me-text {
  /* max-width: 300px; */
}
