body,
html {
  height: 100%;
  color: #141f1f;
  font-family: arial;
  background-color: #aecdd2;
}

.jumbotron-fluid {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/tray-of-eggs.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.display-4 {
  text-align: center;
  color: white;
}
.lead {
  color: white;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate (-50%, -50%);
  color: white;
}

h2 {
  text-align: center;
}
p {
  text-align: center;
}
.intro {
  background-color: white;
}
.nav-grid {
  align-self: center;
  display: grid;
  height: 25%;
  max-width: 800px;
  grid-template-columns: 25% 25% 25% 25%;
  grid-column-gap: 20px;
  margin: 0 auto;
}

.grid-content-egg {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 2px;
  background-position: center;
  background-size: cover;
  background-image: url("../images/egg-a.jpg");
  background-position: center;
}

.footer {
  border-top: none;
  opacity: 0.6;
}

.socials-icon {
  height: 2rem;
}
